# IDE cache
.idea/
.vscode/
.cache/
.vs/

# Build files
cmake-build*
build/
x64/

# Other
game/
assets/engine/script
ScriptRuntime/obj
ScriptRuntime/bin
assets/game-template/runtime/bin/Release
assets/game-template/runtime/obj
